<footer class="topnav">
    <div class="footer-copyright"></div>
      <div class="container">
        All articles belong to <a href="https://washingtonpost.com" target="_blank">Washington Post</a>
        <a class="grey-text text-lighten-4 right" href="/articles-json"> Articles JSON</a>scrape">Scrape</a>
      </div>
    </div>
</footer>