<nav>
    <div class="nav-wrapper topnav"></div>
    <a href="/" class="brand-logo center"> Headlines Scraper</a>
    <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/Tyawo/SiteScraper" target="_blank">Git Repo</a></li>
    </ul>
</nav>